.NavbarItems {
background: rgb(222, 184, 135);
height: 80px; 
display: flex;
justify-content: center;
align-items: center;
font-size: 1.2rem;

}

.navbar-logo {

    color: cornsilk;
    justify-self:start;
    margin-left: 20px;
    cursor: pointer;
    position:absolute;
    top: 10px;
    left: 0;
    width: 130px;
    height: 60px;
    
}

.fa-react {
margin-left: 0.5 rem;
font-size: 1.6rem;

}

.nav-menu{

    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {

    color: cornsilk;
    text-decoration: none;
    padding: 0.5rem 1rem;
    

}


.nav-links:hover{
    background-color:coral;
    border-radius: 4px;
    transition: all 0.2s ease-out;
    
}
